{{#each this}}
<li class="card" >
    <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}}" data-id="{{id}}"
    data-genres={{genresNames}} data-year={{year}} data-rating={{rating}}/>
    <div class="card__text-content">
        <h1 class="films__title">{{title}}</h1>
        <p class="films__paragraph">
            {{genresNames}} | <span class="year">{{year}}</span>
            <span class="films__rating">{{rating}}</span>
        </p>
    </div>
</li>
{{/each}}