<div class="team-backdrop is-hidden">
    <div class="team-modal" id="team">
        <p>fdgfsdgfdgfdg</p>
        <ul class="team-list">
            <li class="team-item">
                <a class="team-item__link" href="{{github}}">
                    <img src="{{photo}}" alt="{{position}}">
                    <p class="team-item__name">{{name}} {{surname}}</p>
                    <p class="team-item__position">{{position}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>