    <ul class="list team-list">
     {{#each this}}
            <li class="team-item">
                <a class="team-item__link" href="{{github}}">
                    <img class="team-item__img" src="{{photo}}" width="180" height="180" alt="{{position}}" />
                    <p class="team-item__name">{{name}} {{surname}}</p>
                    <p class="team-item__position">{{position}}</p>
                </a>
            </li>
      {{/each}}
      </ul>